# ==============================
# CLOVA OCR
# ==============================
NCP_CLOVA_OCR_INVOKE_URL=https://your-ocr-invoke-url
NCP_CLOVA_OCR_SECRET=yout-clova-ocr-secret-key


# ==============================
# Papago Translation
# ==============================
NCP_PAPAGO_CLIENT_ID=your-papago-client-id
NCP_PAPAGO_CLIENT_SECRET=yout-papago-client-secret

