# ==========================================
# Backend API Auth
# ==========================================
API_KEY_CREDENTIAL=specfit-secret-key

# ==============================
# CLOVA OCR
# ==============================
NCP_CLOVA_OCR_INVOKE_URL=https://your-ocr-invoke-url
NCP_CLOVA_OCR_SECRET=yout-clova-ocr-secret-key


# ==============================
# Papago Translation
# ==============================
NCP_PAPAGO_CLIENT_ID=your-papago-client-id
NCP_PAPAGO_CLIENT_SECRET=yout-papago-client-secret

# ==========================================
# NCP Object Storage
# ==========================================
NCP_ACCESS_KEY=your-ncp-access-key
NCP_SECRET_KEY=your-ncp-secret-key
BUCKET_NAME=your-storage-name

# ==========================================
# Cloud DB for PostgreSQL
# ==========================================
DB_HOST=your-DB-address
DB_PORT=5432
DB_NAME=your-db-name
DB_USER=your-db-user
DB_PASSWORD=your-db-password

# ==========================================
# CLOVA STUDIO API
# ==========================================
CLOVA_STUDIO_API_KEY=your-api-key